//aoc-cli example config
//See the github repo for more information on configuring aoc-cli
//https://github.com/apexatoll/aoc-cli

[General]
//Print table in unicode rather than ascii
unicode_tables=>true
//Always open Reddit in browser rather than use a Reddit CLI
reddit_in_browser=>false

[Initialise Year]
//Create a calendar file 
calendar_file=>true
//Initialise a git repo
init_git=>false
//Automatically add md files (calendar and puzzles) to gitignore
ignore_md_files=>true
//Include leaderboard stats in calendar file
lb_stats_in_cal=>true
